* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #e7f6ff;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  background-color: #fff;
  border-radius: 20px;
  max-width: 1700px;
  margin: 85px auto;
}

.container {
  padding: 50px;
  margin: 0 auto;
  max-width: 1550px;
}

.delimiter {
  background-color: #eaeaea;
  height: 1px;
}

/* Open Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo div {
  margin-left: 16px;
}

.header h1 {
  font-size: 20px;
  font-weight: 800;
}

.header p {
  color: #9d9d9d;
  font-size: 14px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart div {
  cursor: pointer;
  margin: 0 30px 0 0;
}

.cart__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__price svg {
  width: 18px;
  margin-right: 10px;
}

.cart__price span {
  font-weight: 600;
  color: #5c5c5c;
}

/* Close Header */
/*****************************/
/* Open Content */
.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.content__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__top h2 {
  margin: 39px 0 0 0;
  font-size: 32px;
  font-weight: 800;
}

.content__top .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 10px;
}

.content__top .input-wrapper input {
  outline: none;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 10px;
  padding: 5px;
}

.content__top .input-wrapper input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.content__top .input-wrapper input:-ms-input-placeholder {
  color: #c4c4c4;
}

.content__top .input-wrapper input::-ms-input-placeholder {
  color: #c4c4c4;
}

.content__top .input-wrapper input::placeholder {
  color: #c4c4c4;
}

/* Close Content */
/*****************************/
/* Open Sneaker-Block */
.sneaker-block {
  width: 210px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 8px 25px;
  -webkit-transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s;
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s;
  margin: 15px;
}

.sneaker-block__title {
  font-family: 'Inter';
  font-size: 14px;
  color: #000;
}

.sneaker-block__title:hover {
  text-decoration: underline;
}

.sneaker-block__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sneaker-block__price p {
  color: #bdbdbd;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.sneaker-block__price span {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 14px;
}

.sneaker-block img {
  width: 100%;
}

.sneaker-block div {
  margin: 14px 0;
}

.sneaker-block:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}

/* Close Sneaker-Block */
/*****************************/
/* Open Button */
.button {
  outline: none;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  color: #9d9d9d;
}

/* Close Button */
/*# sourceMappingURL=main.css.map */