* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #e7f6ff;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  background-color: #fff;
  border-radius: 2rem;
  max-width: 170rem;
  width: 100%;
  margin: 8.5rem auto;
}

.container {
  padding: 5rem;
  margin: 0 auto;
  max-width: 155.0rem;
  width: 100%;
}

.delimiter {
  background-color: #eaeaea;
  height: .1rem;
}

/* Open Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem;
  width: 100%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo div {
  margin-left: 1.6rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: 800;
}

.header p {
  color: #9d9d9d;
  font-size: 1.6rem;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart div {
  cursor: pointer;
  margin: 0 3rem 0 0;
}

.cart__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__price svg {
  width: 1.8rem;
  margin-right: 1rem;
}

.cart__price span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5c5c5c;
}

/* Close Header */
/*****************************/
/* Open Content */
.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
}

.content__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__sale img {
  width: 100%;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 0 0;
}

.content__top h2 {
  font-size: 3.2rem;
  font-weight: 800;
}

.content__top .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: .1rem solid #F3F3F3;
  border-radius: 1rem;
  padding: 1rem;
}

.content__top .input-wrapper input {
  outline: none;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  margin: 0 1rem;
  padding: .5rem;
}

.content__top .input-wrapper input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.content__top .input-wrapper input:-ms-input-placeholder {
  color: #c4c4c4;
}

.content__top .input-wrapper input::-ms-input-placeholder {
  color: #c4c4c4;
}

.content__top .input-wrapper input::placeholder {
  color: #c4c4c4;
}

/* Close Content */
/*****************************/
/* Open Sneaker-Block */
.sneaker-block {
  width: 21rem;
  border: .1rem solid #f3f3f3;
  border-radius: 4rem;
  padding: .8rem 2.5rem;
  -webkit-transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s;
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s;
  margin: 1.5rem;
}

.sneaker-block__title {
  font-family: 'Inter';
  font-size: 1.4rem;
  color: #000;
}

.sneaker-block__title:hover {
  text-decoration: underline;
}

.sneaker-block__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sneaker-block__price p {
  color: #bdbdbd;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.sneaker-block__price span {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 1.4rem;
}

.sneaker-block img {
  width: 100%;
}

.sneaker-block div {
  margin: 1.4rem 0;
}

.sneaker-block:hover {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
  -webkit-box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.05);
}

/* Close Sneaker-Block */
/*****************************/
/* Open Button */
.button {
  display: inline-block;
  outline: none;
  border: .1rem solid #f2f2f2;
  background-color: #fff;
  border-radius: .8rem;
  padding: .8rem 1rem;
  cursor: pointer;
  color: #9d9d9d;
}

/* Close Button */
/* Media */
@media (max-width: 830px) {
  .content__top {
    display: block;
  }
  .content__top .input-wrapper {
    margin-top: 2rem;
  }
}

@media (max-width: 655px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    padding-bottom: 25px;
  }
}

@media (max-width: 372px) {
  .header__logo h1 {
    font-size: 1.7rem;
  }
  .header__logo p {
    font-size: 1.2rem;
  }
  .cart__price span {
    font-size: 1rem;
  }
  .content__top h2 {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=main.css.map */